<h1>Your profile</h1>

<%= render 'form' %>

<table class="table" >
  <thead>
    <tr>
      <th scope="col"  >Course name</th>
      <th scope="col"  >Course description</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td> <p> <%= course.title %> </p> </td> 
      <td> <p> <%= course.description %> </p> </td>
    </tr>
    <% end %> 
  </tbody>
</table>